@model List<Medicine>
@{
    Layout = null;
    ViewData["Title"] = "Pharmacist Medicines";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>list of medicines</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <style>
        import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
        :root {
            --header-height: 3rem;
            --nav-width: 68px;
            --first-color: #6f42c1;
            --first-color-light: #AFA5D9;
            --white-color: #F7F6FB;
            --body-font: 'Nunito', sans-serif;
            --normal-font-size: 1rem;
            --z-fixed: 100;
        }
        *, ::before, ::after {
            box-sizing: border-box;
        }
        .outlined-purple{
            border:1px solid #6f42c1;
            color: #5a379d;
        }
        .outlined-purple:hover{
            background-color: #6f42c1;
            color: white;
        }
        body {
            position: relative;
            margin: var(--header-height) 0 0 0;
            padding: 0 1rem;
            font-family: var(--body-font);
            font-size: var(--normal-font-size);
            transition: .5s;
        }
        a {
            text-decoration: none;
        }
        .header {
            width: 100%;
            height: var(--header-height);
            position: fixed;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 1rem;
            background-color: var(--white-color);
            z-index: var(--z-fixed);
            transition: .5s;
        }
        .header_toggle {
            color: var(--first-color);
            font-size: 1.5rem;
            cursor: pointer;
        }
        .header_img {
            width: 35px;
            height: 35px;
            display: flex;
            justify-content: center;
            border-radius: 50%;
            overflow: hidden;
        }
        .header_img img {
            width: 40px;
        }
        .l-navbar {
            position: fixed;
            top: 0;
            left: -30%;
            width: var(--nav-width);
            height: 100vh;
            background-color: var(--first-color);
            padding: .5rem 1rem 0 0;
            transition: .5s;
            z-index: var(--z-fixed);
        }
        .nav {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            overflow: hidden;
        }
        .nav_logo, .nav_link {
            display: grid;
            grid-template-columns: max-content max-content;
            align-items: center;
            column-gap: 1rem;
            padding: .5rem 0 .5rem 1.5rem;
        }
        .nav_logo {
            margin-bottom: 2rem;
        }
        .nav_logo-icon {
            font-size: 1.25rem;
            color: var(--white-color);
        }
        .nav_logo-name {
            color: var(--white-color);
            font-weight: 700;
        }
        .nav_link {
            position: relative;
            color: var(--first-color-light);
            margin-bottom: 1.5rem;
            transition: .3s;
        }
        .nav_link:hover {
            color: var(--white-color);
        }
        .nav_icon {
            font-size: 1.25rem;
        }
        .show {
            left: 0;
        }
        .body-pd {
            padding-left: calc(var(--nav-width) + 1rem);
        }
        .active {
            color: var(--white-color);
        }
        .active::before {
            content: '';
            position: absolute;
            left: 0;
            width: 2px;
            height: 32px;
            background-color: var(--white-color);
        }
        .height-100 {
            height: 100vh;
        }

        /* .user-nav {
            display: flex;
            gap: 1rem;
        }

        .user-nav .nav-link {
            color: #6c757d;
            padding: 0.5rem 1rem;
            border-radius: 0.25rem;
            transition: all 0.2s;
        }

        .user-nav .nav-link:hover {
            background-color: #f8f9fa;
        }

        .user-nav .nav-link.active {
            color: var(--first-color) !important;
            font-weight: 500;
        } */

        media screen and (min-width: 768px) {
            body {
                margin: calc(var(--header-height) + 1rem) 0 0 0;
                padding-left: calc(var(--nav-width) + 2rem);
            }
            .header {
                height: calc(var(--header-height) + 1rem);
                padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
            }
            .header_img {
                width: 40px;
                height: 40px;
            }
            .header_img img {
                width: 45px;
            }
            .l-navbar {
                left: 0;
                padding: 1rem 1rem 0 0;
            }
            .show {
                width: calc(var(--nav-width) + 156px);
            }
            .body-pd {
                padding-left: calc(var(--nav-width) + 188px);
            }
        }
    </style>
</head>
<body id="body-pd">
    <header class="header" id="header">

        <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
        <div class="header_img"> <img src="../../MainAssets/logo-color.png" alt=""> </div>
    </header>
    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div>
                <div>
                    <a href="../location-sec/index.html" class="nav_link  text-white ps-2">
                        <img src="/logo.jpg" class="p-0 " style="height: 20px;" alt="">
                        <span class="nav_loc-name">
                            PharmaBox
                        </span>
                    </a>
                </div>
                <div class="nav_list">
                    <a href="../Dashboard-sec/index.html" class="nav_link ">
                        <i class="fa-sharp fa-solid fa-table-columns"></i>
                        <span class="nav_name ">Dashboard</span>

                    </a>
                    <a href="../inventory-sec/index.html" class="nav_link active">
                        <i class="fa-solid fa-boxes-stacked"></i>
                        <span class="nav_name">Inventory</span>
                    </a>
                    <a href="../distrinutor-sec/index.html" class="nav_link">
                        <i class="fa-solid fa-arrow-trend-up"></i>
                        <span class="nav_name">Distributors</span>
                    </a>
                    <a href="../Orders-sec/index.html" class="nav_link">
                        <i class="fa-solid fa-arrow-down-9-1"></i>
                        <span class="nav_name">Orders</span>
                    </a>
                    <a href="../med-group-sec/index.html" class="nav_link">
                        <i class="fa-solid fa-grip"></i>
                        <span class="nav_name">Medicine Groups</span>
                    </a>
                    <a href="../Notification-sec/index.html" class="nav_link">
                        <i class="fa-regular fa-bell"></i>
                        <span class="nav_name">Notifications</span>
                    </a>
                    <a href="../chats-sec/index.html" class="nav_link">
                        <i class='bx bx-message'></i>
                        <span class="nav_name">Chats</span>
                        <a href="../Branch-sec/index.html" class="nav_link">
                            <i class="fa-solid fa-code-branch"></i>
                            <span class="nav_name">Branchs</span>
                        </a>
                    </a>

                </div>
            </div>
        </nav>
    </div>
    <div class="container mt-5">
        <h2 class="fw-bold">Inventory &gt; <span class="text-primary">List of Medicines (298)</span></h2>
        <p>List of medicines available for sales.</p>


        <div class="d-flex justify-content-between mb-3">
            <input type="text" class="form-control w-25" placeholder="Search Medicine Inventory...">
            <button class="btn btn-primary"><i class="fa fa-plus"></i> Add New Medicine</button>
        </div>

        <div class="mb-3">
            <select class="form-select w-25">
                <option selected>- Select Group -</option>
                <option value="1">Generic Medicine</option>
                <option value="2">Diabetes</option>
            </select>
        </div>

        
    @if (Model != null && Model.Any())
    {
        <table class="table table-striped table-hover">
            <thead class="table-light">
                <tr>
                    <th>Medicine Name</th>
                    <th>Group Name</th>
                    <th>Expire Date</th>
                    <th>Stock in Qty</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                    @foreach (var item in Model)
                    {
                <tr>
                    <td>@item.Name</td>
                            <td>@(item.GroupMedicine != null ? item.GroupMedicine.Name : "undefined")</td>
                    <td>@item.ExpiryDate</td>
                    <td>@item.StockQuantity</td>
                    <td>
                        <button class="btn btn-success btn-sm"><i class="fas fa-edit"></i></button>
                        <button class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></button>

                    </td>
                </tr>
                
                    }
            </tbody>
        </table>
}
        else
        {
            <p>No medicines available in the inventory.</p>
        }



        <div class="d-flex justify-content-between align-items-center">
            <span>Showing 1 - 8 results of 298</span>
            <nav>
                <ul class="pagination mb-0">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&laquo;</a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">&raquo;</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>






    <script>
        document.addEventListener("DOMContentLoaded", function(event) {
            const showNavbar = (toggleId, navId, bodyId, headerId) => {
                const toggle = document.getElementById(toggleId),
                      nav = document.getElementById(navId),
                      bodypd = document.getElementById(bodyId),
                      headerpd = document.getElementById(headerId);

                if (toggle && nav && bodypd && headerpd) {
                    toggle.addEventListener('click', () => {
                        nav.classList.toggle('show');
                        toggle.classList.toggle('bx-x');
                        bodypd.classList.toggle('body-pd');
                        headerpd.classList.toggle('body-pd');
                    });
                }
            };

            showNavbar('header-toggle', 'nav-bar', 'body-pd', 'header');

            const linkColor = document.querySelectorAll('.nav_link');

            function colorLink() {
                if (linkColor) {
                    linkColor.forEach(l => l.classList.remove('active'));
                    this.classList.add('active');
                }
            }
            linkColor.forEach(l => l.addEventListener('click', colorLink));

            // Add click handling for user management navigation
            const userNavLinks = document.querySelectorAll('.user-nav .nav-link');
            userNavLinks.forEach(link => {
                link.addEventListener('click', function(e) {
                    userNavLinks.forEach(l => l.classList.remove('active'));
                    this.classList.add('active');
                });
            });
        });
    </script>
</body>
</html>